@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Josefin+Slab:wght@100;300;500&family=Poiret+One&family=Raleway:wght@100;200;300;400;500&display=swap');
.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    flex-direction: column;
}
.la{
    width: 122px;
    display: flex;
    letter-spacing: .5em;
    justify-content: center;
    font-weight: 700;
    font-family: 'Poiret One', cursive;
}
.lb{
    width: 127px;
    display: flex;
    margin: 2px auto;
    align-items: center;
    padding-right: 11px;
    font-weight: 600;
    color: rgb(0, 0, 0,.5);
    justify-content: space-between;
    font-family: 'Poiret One', cursive;
}
